body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 128px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}

a, .top p, .sign-up {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.top {
  background-color: #1F2937;
  display: flex;
  padding: 64px 128px;
  flex: 1 1 0;
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

img {
  margin: 24px;
  width: 100%;
  max-width: 500px;
  max-height:100%;
  object-fit: contain;
}

.sign-up {
  background-color: #3882F6;
  text-align: center;
  border: none;
  padding: 4px 32px;
  border-radius: 8px;
}

.information {
  padding: 36px 192px;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-top: 0px;
  margin-bottom: 36px;
}

.illustrations {
  display: flex;
  gap: 64px;
  justify-content: space-between;
}

.card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 256px;
  align-content: center;
}

.illustrations img {
  border: 2px #3882F6;
  border-style: solid;
  border-radius: 16px;
  margin: 0px;
}

.quote {
  padding: 48px 192px;
  background-color: #E5E7EB;
  color: #1F2937;
}

h3 {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}
.quote p {
  text-align: right;
  font-size: 24px;
}

.bottom {
  background-color: #3882F6;
  margin: 48px 128px;
  border-radius: 8px;
  padding: 32px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .sign-up {
  border-color: white;
  color: white;
  border-style: ridge;
  height: 36px;
  flex-shrink: 1;
}

.bottom h4 {
  color: white;
  margin: 0px;
  font-weight: 900;
}

.bottom p {
  color: white;
  margin: 0px;
  font-weight: 100;
}
